$font-montserrat: 'Montserrat', sans-serif;
$font-playfair: 'Playfair Display', sans-serif;
$yellow: #F0CB66;
$green: #10642A;

html {
    @media screen and (max-width: 767px) {
        font-size: 14px
    }
}

body {
    font-family: $font-montserrat;
    background-color: #050E0C;
    @include rem(letter-spacing, 1px);
    @include rem(font-size, 16px);
}

h2,
h3,
h4 {
    margin: 0;
    font-family: $font-playfair;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    @include rem(letter-spacing, 4px);
}

h2 {
    color: #10642A;
    @include rem(font-size, 64px);
    font-weight: 800;

    @media screen and (max-width: 767px) {
        @include rem(font-size, 54px);
    }
}

h3 {
    @include rem(font-size, 32px);
}

.sub-title {
    text-align: center;
    font-style: italic;
    @include rem(margin, 15px 0 20px);
}

main {
    overflow: hidden;
}

.btn-hobbit {
    padding: 1px;
    color: white;
    border-radius: 50px;
    border: 1px solid;
    background: conic-gradient(from 180deg at 48.5% 50%, #3F1F0F -28.12deg, #E3A455 26.25deg, #F6DBA6 88.12deg, #FFEBC4 156.58deg, #F0BE79 191.74deg, #8F653B 213.59deg, #673D22 225.95deg, #BA7F3B 255.19deg, #EEBC70 278.6deg, #3F1F0F 331.88deg, #E3A455 386.25deg),
        linear-gradient(0deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.02));
    border-image-source: conic-gradient(from 180deg at 48.5% 50%, #3F1F0F -28.12deg, #E3A455 26.25deg, #F6DBA6 88.12deg, #FFEBC4 156.58deg, #F0BE79 191.74deg, #8F653B 213.59deg, #673D22 225.95deg, #BA7F3B 255.19deg, #EEBC70 278.6deg, #3F1F0F 331.88deg, #E3A455 386.25deg);
    @include rem(font-size, 18px);
    font-family: $font-playfair;

    @include respond-to('medium') {
        @include rem(font-size, 22px);
    }

    &:hover {
        color: white;
    }

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 245px;
        background-color: #000;
        border-radius: 50px;
        font-weight: 600;
        @include rem(height, 64px);
        @include rem(letter-spacing, 4px);
    }
}

.form-control {
    border: 1px solid #D1D1D1;
    border-radius: 8px;
}

input {
    &.form-control {
        @include rem(height, 44px)
    }
}

input::-webkit-input-placeholder,
input:-ms-input-placeholder,
input::placeholder {
    color: red !important
}

.btn-primary {
    background-color: $green;

    @include respond-to('large') {
        height: 44px;
    }
}

::placeholder {
    color: #ACACAC !important;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ACACAC !important;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #ACACAC !important;
}

.modal {
    .modal-header {
        position: relative;
        display: block;
        border: none;

        @include rem(padding, 40px 40px 0);

        .modal-title {
            color: $green;
            font-family: $font-playfair;
            text-transform: uppercase;
            @include rem(letter-spacing, 4px);
            @include rem(font-size, 18px);

            @include respond-to('large') {
                @include rem(font-size, 22px)
            }

        }

        .note {
            color: rgba(84, 89, 94, 0.6)
        }

        .modal-btn-close {
            position: absolute;
            top: 20px;
            right: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;
            padding: 0;
            background-color: #E5E5E5;
            border-radius: 50%;
            font-size: 20px;
            border: none;
            color: #4F4F4F
        }

    }

    .modal-body {
        @include rem(padding, 20px 40px 0 40px)
    }

    .modal-footer {
        @include rem(padding, 0 40px 40px);
        border: none;

        button {
            width: 100%;
            margin: 0;
        }
    }

    .legend {
        display: inline-block;
        font-weight: 700;
        border-bottom: 3px solid #10642A;
        color: black;
        @include rem(margin-bottom, 15px)
    }
}

.sink-effect {
    transition: transform 0.3s;

    &:hover {
        cursor: pointer;
        transform: translateY(-10px);
    }
}